.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    max-width: 1200px;
    padding: 0 20px;
}

.content {
    flex: 1;
    margin-right: 20px;
}

.content h1 {
    font-size: 2.5em;
}

.content p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.image {
    flex: 1;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.another-background-image {
    background-size: cover;
    background-position: right;
    height: 400px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .image, .another-background-image {
        width: 100%;
        height: 300px;
    }

    .content h1 {
        font-size: 1.8em;
    }

    .content p {
        font-size: 1em;
    }
}
